@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa&Quicksand:wght@400;600;700&family=Satisfy&display=swap");

:root {
    --nav-width: 90%;
    --nav-item-height: 50px;
    --palette-color-01: #f8ede3;
    --palette-color-02: #dfd3c3;
    --palette-color-03: #d0b8a8;
    --palette-color-04: #7d6e83;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}