.product-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 400px;
    padding: 24px;
    cursor: pointer;
}

.product-price {
    text-align: end;
    font-weight: 700;
    letter-spacing: 0.02rem;
}

.product-image {
    height: 200px;
    object-fit: contain;
}

.add-to-cart-button {
    display: inline-block;
    width: fit-content;
    background-color: var(--palette-color-03);
    border-radius: 0.4rem;
    padding: 6px 12px;
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: var(--palette-color-02);
}